/* Change the default ugly cyan color in various elements/UI */
:root,
panel,
dialog,
window {
  --lwt-toolbarbutton-icon-fill-attention: #707746 !important; 
  --button-primary-bgcolor: #707746 !important; 
  --button-primary-hover-bgcolor: #9B9B6E !important; 
  --button-primary-active-bgcolor: #4A4A2F !important; 
  --in-content-primary-button-background: #707746 !important; 
  --in-content-primary-button-background-hover: #9B9B6E !important; 
  --in-content-primary-button-background-active: #4A4A2F !important; 
  --input-border-color: #707746 !important; 
  --uc-checkbox-checked-bgcolor: #707746 !important; 
  --checkbox-checked-bgcolor: #707746 !important; 
  --focus-outline-color: #707746 !important; 
  --in-content-link-color: #707746 !important;
}
