# ============================================
# PERSONAL
# ============================================

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/keys/personal.pub
    IdentitiesOnly yes

Host gitlab.com
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/keys/school.pub
    IdentitiesOnly yes
