# ============================================
# PERSONAL
# ============================================

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/keys/personal
    IdentitiesOnly yes

Host git.amandus.xyz
    HostName git.amandus.xyz
    User git
    Port 2222
    IdentityFile ~/.ssh/keys/personal
    IdentitiesOnly yes
