# ============================================
# WORK
# ============================================

Host work-git
    HostName <WORK_GIT_HOST>
    User <USERNAME>
    IdentityFile ~/.ssh/keys/work/<KEY_NAME>
