# ============================================
# WORK
# ============================================

# Host work-git
#     HostName <WORK_GIT_HOST>
#     User git
#     IdentityFile ~/.ssh/keys/work.pub
#     IdentitiesOnly yes
