# ============================================
# SCHOOL
# ============================================

Host <SCHOOL_GIT_HOST>
    HostName <SCHOOL_GIT_HOST>
    User git
    IdentityFile ~/.ssh/keys/school.pub
    IdentitiesOnly yes
