# ============================================
# SCHOOL
# ============================================

Host school-git
    HostName <SCHOOL_GIT_HOST>
    User <USERNAME>
    Port 22
    IdentityFile ~/.ssh/keys/school/<KEY_NAME>
