# ============================================
# HOMELAB
# ============================================

Host homelab-server
    HostName <INTERNAL_IP>
    User <USERNAME>
    Port 22
    IdentityFile ~/.ssh/keys/homelab/<KEY_NAME>
