# ============================================
# HOMELAB
# ============================================

Host <HOMELAB_HOST>
    HostName <INTERNAL_IP>
    User <USERNAME>
    IdentityFile ~/.ssh/keys/homelab.pub
    IdentitiesOnly yes
