# ============================================
# HOMELAB
# ============================================

Host __HOMELAB_HOST__
    HostName __HOMELAB_HOST__
    User __HOMELAB_USER__
    IdentityFile ~/.ssh/keys/personal
    IdentitiesOnly yes
